.ui-modal__backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.ui-modal {
  width: 420px;
  background: #0f172a;
  border-radius: 16px;
  padding: 20px;
  color: #fff;

  header {
    font-size: 18px;
    margin-bottom: 12px;
  }
}
