h1, h2, h3, h4 {
    font-family: var(--font-title);
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #ffffff;
  }
  
  h1 {
    font-size: var(--h1);
  }
  
  h2 {
    font-size: var(--h2);
  }
  
  h3 {
    font-size: var(--h3);
  }
  
  h4 {
    font-size: var(--h4);
  }
  
  /* Текст */
  p, span, li, input, textarea, button {
    font-family: var(--font-main);
    font-size: var(--text);
  }
  